@{
    ViewData["Title"] = "Politicas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Esta página no compartira ni difundira su identidad, el uso de los datos personales que usted ingrese a esta pagina
    web, son con el unico fin de ofrecerle el mejor servicio y atencion. Gracias.
</p>
